$background:#f4f6fa;
$firstShadow:rgba(255, 255, 255, 0.5);
$secondShadow: rgba(0, 0, 0, 0.15);
$thirdShadow: rgba(255,255,255,0.1);
$mainColor:#555;
$linkColor:#aaa;
$errorColor:#d55d5d;

$secondColor:#5bbde0;
$secondColorLighter:#99d0e3;

$backgroundSwitch: #EBEDF0;
$description:#a0a5a8;
$registration:#505050;

$linear-gradient:#dadde0;


.icons_form{
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
}

.btn{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-shadow:
          -7px -7px 20px 0px #fff9,
          -4px -4px 5px 0px #fff9,
          7px 7px 20px 0px #0002,
          4px 4px 5px 0px #0001,
          inset 0px 0px 0px 0px #fff9,
          inset 0px 0px 0px 0px #0001,
          inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
  transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  font-size: 16px;
  margin: 10px;
}

.btn:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .2),
  inset -4px -4px 6px 0 rgba(255,255,255,.5),
  inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}


.btn:hover {
  opacity: 0.7;
  transition: .15s;
  cursor: pointer;
}

.btn svg{
  display: block;
  width: 80%;
  height: 80%;
}



