:global(.MuiIconButton-edgeEnd[aria-label^="Choose date"]) {
  width: 35px;
  height: 35px;

  background-image: url(./Subtract.png);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
  box-shadow: var(--datePicker-box-shadow);
  pointer-events: auto;
  &:active {
    background-color: var(--primary-color) !important;
    box-shadow: var(--inset-input-shadow);
  }
}
