.container {
  display: flex;
  gap: 20px;
}
.dropdown {
  position: relative;
  margin: 0;
  width: 168px;
  z-index: 30;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 30px;
  box-shadow: var(--outset-box-shadow);

  transition: all 500ms ease-in-out;
  cursor: pointer;
  
}
.dropdown .input {
  position: absolute;
  padding-left: 20px;
  top: 50%;
  width: 168px;
  height: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: none;
  outline: none;
  color: var(--primary-text-color);
  background: none;
  font-size: 1em;
  cursor: pointer;
  &:focus {
    border: none;
    outline: none;
  }
}

.ico {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../images/arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &.open{
    transform: translateY(-50%) rotate(180deg);
  }
}
.options {
  position: absolute;
  top: 60px;
  width: 168px;
  box-shadow: var(--outset-box-shadow);
  border-radius: 30px;
  background-color: var(--primary-color);
  cursor: option;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease-in-out;

  &.show {
    visibility: visible;
    opacity: 1;
    transition: all 200ms ease-in-out;
  }
}
.capacity {
  display: flex;
  padding: 15px;
  justify-content: space-around;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  color:var(--primary-text-color);
  height: 25px;
  border-radius: 5px;
  box-shadow: var(--outset-box-shadow);
  &:active {
    box-shadow: var(--inset-box-shadow);
  }
}
.boxInset {
  box-shadow: var(--inset-box-shadow);
  font-size:14px;
}
.item {
  position: relative;
  padding: 15px 20px 15px 20px;
  list-style-type: none;
  color: var(--primary-text-color);
  transition: all 200ms ease-in-out;
  &:hover {
    background: var(--hover-selector-container);
  }
  &:first-child {
    border-radius: 30px 30px 0 0;
  }
  &:last-child {
    border-radius: 0 0 30px 30px;
  }
}
