$background: var(--base1);
$firstShadow: var(--base2);
$secondShadow: var(--base3);
$thirdShadow: var(--base4);
$placeholder:var(--placeHolder);
$mainColor: var(--mainColor);
$linkColor: var(--link);
$errorColor: var(--errorColor);
$additionalColor: var(--additionalColor);
$lighterSecondColor: var(--additionalLighterColor);
$colorIcon: var(--colorIcon);
$label: var(--label);
$gradientInputField: var(--gradientInputField);

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--mainColorFont)!important;
  -webkit-box-shadow:
          inset 0px 0px 0px var(--base1)!important;
  transition: background-color 5000s ease-in-out 0s;
  border-radius: 40px;
}


.container-extra-small,.container-small,.container-medium,.container-large{
  transition: ease-in-out, width .35s ease-in-out;
}


.container-extra-small{
  width: 380px;
  margin: 20px;
}


.container-small {
  width: 400px;
  margin: 20px;
}

.container-medium {
  width: 450px;
  margin: 20px;
}

.container-large {
  width: 500px;
  margin: 20px;
}

.container-extra-small .inputField, .container-small .inputField {
  height: 60px;
}


.container-medium .inputField, .container-large .inputField {
  height: 65px;
}


.inputField {
  border-radius: 40px;
  box-shadow: var(--inset-input-shadow);
  position: relative;
  display: flex;
  align-items: center;

}

.inputField input {
  border: none;
  outline: none;
  background: none;
  color: $mainColor;
  padding: 20px 20px 20px 5px;
  width: 80%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;



  &::placeholder {
    color: $placeholder;
    text-shadow: none;
  }

  &:focus:enabled, &:active:enabled {
    &::placeholder {
      color: $label;
      transition: color 0.25s linear;
    }

  }
}
.container-extra-small .inputField input, .container-small .inputField input {
  font-size: 18px;
}

.container-medium .inputField input, .container-large .inputField input {
  font-size: 22px;
}

.container-extra-small input:focus ~ label, .container-extra-small input:valid ~ label, .container-small input:focus ~ label, .container-small input:valid ~ label {
  top: -22px;
  left: 60px;
  font-size: 16px;
  color: $colorIcon;
  font-weight: 500;

  letter-spacing: 1px;
}

.container-medium input:focus ~ label, .container-medium input:valid ~ label, .container-large input:focus ~ label, .container-large input:valid ~ label {
  top: -26px;
  left: 60px;
  font-size: 20px;
  color: $colorIcon;
  font-weight: 500;
  letter-spacing: 2px;
}

.inputField label {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: var(--label);
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  text-shadow: none;

}


.container-extra-small .inputField label, .container-small .inputField label {
  font-size: 18px;
  top: 20px;
  left: 70px;
  margin-bottom: 10px;
}

.container-medium .inputField label, .container-large .inputField label {
  font-size: 20px;
  top: 20px;
  left: 70px;
}

.container-extra-small svg, .container-small svg {
  height: 30px;
  margin-left: 20px;
  margin-right: 10px;
}

.container-medium svg, .container-large svg {
  height: 36px;
  margin-left: 20px;
  margin-right: 45px;
}

.container-extra-small .eye, .container-small .eye {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  color: $colorIcon ;
}

.container-medium .eye, .container-large .eye {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  color: $colorIcon;
}


.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.error_container {
  color: $errorColor;
  height: 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  width: 100%;
  margin: 2px;
  justify-content: center;

}

.error_container span {
  text-align: center;
}

.inputFieldError {
  outline: 1px $errorColor solid;
}

.inputField:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 40px;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);

  background: $background;
  background: $gradientInputField;

  pointer-events: none;
}

.inputField:hover:after {
  opacity: 1;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition-property: transform, opacity;
  transition-duration: 0.3s, 0.15s;
  transition-timing-function: ease;
  pointer-events: none;
}

.inputField:active:after {
  opacity: 0;
  pointer-events: none;
}

