$background:var(--base1);
$firstShadow:var(--base2);
$secondShadow: var(--base3);
$thirdShadow: var(--base4);
$mainColor:var(--mainColorFont);
$linkColor:var(--link);
$errorColor:var(--errorColor);
$additionalColor: var(--additionalColor);
$lighterSecondColor: var(--additionalLighterColor);

.container_login_page {
  margin:0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  z-index: 1;
}

.box_inset,.box_inset_2{
  //max-width: 650px;
  //max-height: 650px;
  min-width: 650px;
  min-height: 650px;

  border-radius: 50%;
  background: var(--base1);
  position: absolute;
  box-shadow:var(--pages-decoration-box-shadow-inset);
}

.box_inset{
  top:-15%;
  left: -5%;
}

.box_inset_2{
  bottom:-15%;
  right: -5%;
}


.box_outset,.box_outset_2{
  width: 500px;
  height: 500px;

  border-radius: 50%;

  background: var(--base1);
  box-shadow:var(--pages-decoration-box-shadow-outset);
  position: absolute;
}

.box_outset_2{
  z-index: -1;
}

.box_outset{
  top:-15%;
  right:-5%;
}

.box_outset_2{
  bottom:-15%;
  left:-5%;
}