$background: #f4f6fa;
$firstShadow: rgba(255, 255, 255, 0.5);
$secondShadow: rgba(0, 0, 0, 0.15);
$thirdShadow: rgba(255, 255, 255, 0.1);
$mainColor: #555;
$linkColor: #aaa;
$errorColor: #d55d5d;

$secondColor: #5bbde0;
$secondColorLighter: #99d0e3;

$backgroundSwitch: #EBEDF0;
$description: #a0a5a8;
$registration: #505050;

$linear-gradient: #dadde0;


.data {

}


.badge{
  padding: 6px;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  color: var(--mainColorFont);
  position: relative;
}


.red>span,.violet>span,.mint>span,.lightBlue>span,.orange>span,.turquoise>span,.cerulean>span,.blue>span{
  color: var(--base1) ;
}


.red>span {
  background: $errorColor;
}

.blue>span{
  background: $secondColor;
}

.lightBlue>span{
  background: $secondColorLighter;
}

.orange>span{
  background: #ecc372;
}

.mint>span{
  background: #64d7a6;
}

.cerulean>span{
  background: #638db4;
}

.turquoise>span{
  background: #3D8DAE;
}

.violet>span{
  background: #848fd3;
}