

.container_changePassword_page {
  height: 100vh;
  width: 720px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}