:global(button.css-h2z9v1-MuiButtonBase-root-MuiIconButton-root-MuiClock-amButton),
:global(button.css-rjqbug-MuiButtonBase-root-MuiIconButton-root-MuiClock-pmButton) {
  box-shadow: var(--datePicker-box-shadow) !important;
  color: var(--accent-color);
  cursor: default;
  &:hover {
    background-color: transparent;
  }
}

:global(button.css-zcgqxx-MuiButtonBase-root-MuiIconButton-root-MuiClock-pmButton),
:global(button.css-1gp5qnb-MuiButtonBase-root-MuiIconButton-root-MuiClock-amButton) {
  &:hover {
    box-shadow: var(--datePicker-box-shadow) !important;
  }
}

:global(span.MuiClockNumber-root.Mui-selected.css-zddqwy-MuiClockNumber-root) {
  background-color: transparent !important;
  box-shadow: none;
  color: var(--dateAndTimePicker-selected-global) !important;
}
:global(span.css-8je8zh-MuiTouchRipple-root) {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
}
:global(.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root) {
  background-image: url("../../../assets/icons/Calendar.png");
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: -12px !important;
  border-radius: 50% !important;
}
:global(label.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root) {
  font-size: 20px;
  top: -11px;
  left: 9px;
  color: var(--label);
}

:global(.css-1yllih9-MuiPaper-root-MuiPickersPopper-paper) {
  box-shadow: var(--outset-box-shadow) !important;
}
:global(.MuiClock-squareMask) {
  box-shadow: var(--inset-input-shadow);
}

