* {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;

  border: none;
  border-radius: 40px;
  box-shadow:var( --outset-box-shadow);
  background: var(--base1);
  cursor: pointer;

  &:hover {
    background: var( --primary-hover-button-color);
    box-shadow: var( --outset-box-shadow)
  }
  &:active,
  &:focus-visible {
    background: var(--base1);
    box-shadow: var(--inset-input-shadow);
  }
  &.small {
    width: 150px;
    height: 25px;

    font-size: 12px;
  }
  &.medium {
    min-width: 204px;//changed
    height: 34px;

    font-size: 14px;
  }
  &.large {
    width: 300px;
    height: 50px;

    font-size: 18px;
  }

}

.smallAndHigh{
  width: 120px;
  height: 50px;
  font-size: 12px;
}

.smallAndHigh{
  width: 120px;
  height: 50px;
  font-size: 12px;
}

.smallAndHigh{
  width: 120px;
  height: 50px;
  font-size: 12px;
}

.label {
  color: var(--accent-text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;

  button:active &,
  button:focus-visible & {
    display: inline-block;
    transform: scale(0.98);
    color: var(--active-color);
  }
  &.warning {
    color: orange;
  }
  &.error {
    color: var(--errorColor);
  }
  button:disabled & {
    color: var(--base3);
  }
  button:disabled:hover & {
    color: var(--base3);
  }
  button:disabled:active &,
  button:disabled:focus-visible & {
    display: inline-block;
    transform: scale(1);
  }
}


//sizes
