$background:var(--base1);
$firstShadow:var(--base2);
$secondShadow: var(--base3);
$thirdShadow: var(--base4);
$mainColor:var(--mainColorFont);
$linkColor:var(--link);
$errorColor:var(--errorColor);
$additionalColor: var(--additionalColor);
$lighterSecondColor: var(--additionalLighterColor);

$backgroundSwitch: var(--titleUpOnHover);
$description:#a0a5a8;
$registration:#505050;

$linear-gradient:#dadde0;

$login: var(--loginColorPasswordChange);
$login2: var(--loginHoverColorPasswordChange);

$colorOfChangePassword:var(--changePasswordTitle);

.changePassword_container {
  border-radius: 40px;
  background: $background;
  box-shadow: -2px -2px 12px $firstShadow,
  2px 2px 8px $secondShadow,
  2px 2px 4px $thirdShadow;
  width: 640px;
  max-height: 100%;
  padding: 20px;
  color: $colorOfChangePassword;
}

.form_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: $mainColor;
}

.change_button {
  cursor: pointer;
  width: 60%;
  max-height: 60px;
  font-family: 'Montserrat', sans-serif;
  background: $background;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 34px;
  letter-spacing: 2px;
  font-weight: 700;


  position: relative;
  top: 0;

  transition: all 0.5s ease-in-out;

  width: 90%;
  text-align: center;

}

.login {
  font-size: 18px;
  letter-spacing: 1px;

  max-height: 28px;

  color: $login;
  padding-bottom: 30px;
  padding-top: 30px;
  //margin-bottom:10px ;
  box-sizing: border-box;
  transition: all 2s ease-in-out;
  width: 80%;
  text-align: center;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login svg{
display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: $additionalColor;
  transition: all 0.5s ease-in-out;

}



.changePassword_container:hover .title {
  top: -50px;
  background: $backgroundSwitch;
  box-shadow: -2px -2px 12px $firstShadow,
  2px 2px 8px $secondShadow,
  2px 2px 4px $thirdShadow;
  border-radius: 40px;
}

.changePassword_container:hover .login {
  color: $login2;
  //border-bottom: 2px solid $lighterSecondColor;
}

.changePassword_container:hover .login svg{
  font-size: 80px;
  color:  $lighterSecondColor;
}



.error_container {
  min-height: 70px;
  width: 100%;
  font-weight: 700;
  color: $errorColor;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
