$background:#f4f6fa;
$firstShadow:rgba(255, 255, 255, 0.5);
$secondShadow: rgba(0, 0, 0, 0.15);
$thirdShadow: rgba(255,255,255,0.1);
$mainColor:#555;
$linkColor:#aaa;
$errorColor:#d55d5d;
$secondColor:#5bbde0;
$secondColorLighter:#99d0e3;

$backgroundSwitch: #EBEDF0;
$login:#a0a5a8;
$login2:#505050;

$linear-gradient:#dadde0;

.changePassword_container {
  border-radius: 40px;
  background: $background;
  box-shadow:
          -2px -2px 12px $firstShadow,
          2px 2px 8px $secondShadow,
          2px 2px 4px $thirdShadow;
  width: 500px;
  height: 540px;
  padding: 20px;
}

.form_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.change_button{
  cursor: pointer;
  width:60%;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s;
  background: $background;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 34px;
  animation: ch-color-2 4s;
  letter-spacing: 2px;
  font-weight: 700;


  position: relative;
  top: 0;

  transition: all 0.5s ease-in-out;

  width: 90%;
  text-align: center;

}

.login{
  font-size: 20px;
  letter-spacing: 1px;

  height: 28px;

  color: $login;
  padding-bottom: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  width: 80%;
  text-align: center;
  margin-bottom: 10px;

}

.changePassword_container:hover .title{
  top: -50px;
  background: $backgroundSwitch;
  box-shadow:
          -2px -2px 12px $firstShadow,
          2px 2px 8px $secondShadow,
          2px 2px 4px $thirdShadow;
  border-radius: 20px;
}

.changePassword_container:hover .login{
font-size: 26px;
  color: $login2;
  border-bottom: 2px solid $secondColorLighter;
}

.error_container{
  height: 70px;
  width: 100%;
  font-weight: 700;
  color: $errorColor;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
