
.ProfileContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: -2px -2px 12px rgb(255 255 255 / 50%), 2px 2px 8px rgb(0 0 0 / 15%), 2px 2px 4px rgb(255 255 255 / 10%);
  border-radius: 40px;
  margin: 40px;
  background-color: #f4f6fa;
}
.form {
  padding-bottom: 20px;
  border-bottom: 3px var(--accent-text-color) solid;
}