.error_container{
  padding: 2px 5px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow:var(--outset-box-shadow);
  display: flex;
}

.error_container span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_container svg{
  font-size: 30px;
}