*{-webkit-user-select:none;user-select:none}.button_btn__MlFu\+{position:relative;display:inline-flex;justify-content:center;align-items:center;padding:10px 30px;color:#25cee0;text-decoration:none;text-transform:uppercase;font-weight:500;letter-spacing:2px;border-radius:40px;box-shadow:-2px -2px 8px #fff,-2px -2px 12px rgba(255,255,255,.5),2px 2px 8px rgba(0,0,0,.15),inset 2px 2px 4px rgba(255,255,255,.1);background:#f4f6fa;cursor:pointer}.button_pressed__Hbw6Q{box-shadow:inset -2px -2px 8px #fff,inset -2px -2px 12px rgba(255,255,255,.5),inset 2px 2px 8px rgba(0,0,0,.15),inset 2px 2px 4px rgba(255,255,255,.1)}.button_labelPressed__91q8H{display:inline-block;-webkit-transform:scale(0.98);transform:scale(0.98);color:#cfcfd4}.button_small__09w0o{width:150px;height:25px;font-size:12px}.button_medium__VA3Cc{width:204px;height:34px;font-size:14px}.button_large__6n1Ny{width:300px;height:50px;font-size:18px}
.checkboxWithLabel_checkbox__Bhis8{margin-right:10px !important;border-radius:4px !important;width:19px;height:19px;border:.5px rgba(0,0,0,0) solid !important;box-shadow:-1px -1px 3px 0px #fff,3px 3px 6px 0px rgba(0,0,0,.17),inset 1.5px 1.5px 2.5px 0px rgba(0,0,0,.1)}.checkboxWithLabel_checkbox__Bhis8.checkboxWithLabel_active__0Tgz1{border:.5px #989898 solid !important;box-shadow:inset -1px -1px 3px -1.5px #fff,inset 1px 1px 4px 0px rgba(0,0,0,.17),inset 4px 3px 4px 0px rgba(0,0,0,.1)}
.toggle_toggle__Ya6eM{height:40px;width:100px}.toggle_toggle__Ya6eM input{position:relative;height:100%;width:100%;outline:none;border-radius:25px;box-shadow:-8px -4px 8px 0px rgba(255,255,255,.4509803922),8px 4px 12px 0px rgba(94,104,121,.288),inset -4px -4px 4px 0px rgba(255,255,255,.4509803922),inset 4px 4px 4px 0px rgba(94,104,121,.288);background-color:#eaecf2;cursor:pointer;-webkit-appearance:none}.toggle_toggle__Ya6eM input:before{position:absolute;content:"";width:40px;height:40px;left:0px;top:0px;background-color:#eaecf2;border-radius:50%;box-shadow:-8px -4px 8px 0px rgba(255,255,255,.4509803922),8px 4px 12px 0px rgba(94,104,121,.288);transition:left .4s cubic-bezier(0.85, 0.05, 0.18, 1.35)}.toggle_toggle__Ya6eM input:checked:before{left:60px;box-shadow:-8px -4px 8px 0px rgba(255,255,255,.52)}
.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}

section {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
  color: #333;
}

section h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}

section p {
  margin: 1em 0;
}

section a {
  text-decoration: none;
  color: #1ea7fd;
}

section ul {
  padding-left: 30px;
  margin: 1em 0;
}

section li {
  margin-bottom: 8px;
}

section .tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #e7fdd8;
  color: #66bf3c;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

section .tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

section .tip-wrapper svg {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 4px;
  vertical-align: top;
  margin-top: 3px;
}

section .tip-wrapper svg path {
  fill: #1ea7fd;
}


/*# sourceMappingURL=main.c0cb8f7f.css.map*/