.MuiFormControl-root {
  border: 0;
  margin: 0;
  display: flex !important;
  justify-content: center !important;
  padding: 0;
  box-shadow: var(--inset-input-shadow) !important;
  border-radius: 40px !important;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}
.Mui-focused:focus {
  background-color: transparent !important;
}
.MuiMenuItem-root {
    border-radius: 40px !important;
}
.MuiInput-input:focus {
  background-color: transparent !important;
}

.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
  background-color: transparent !important;
  box-shadow: var(--inset-input-shadow) !important;

}
.MuiPaper-elevation8 {
  box-shadow: var(--outset-box-shadow) !important;
  /* box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%); */
}
.MuiMenu-list::-webkit-scrollbar {
  width: 0 !important;
}
::-webkit-scrollbar {
  width: 0;
}
.MuiInput-underline:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: none !important;
  position: static !important;
  transition: none !important;
  border-bottom: none !important;
  pointer-events: none;
}
.MuiInput-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: none !important;
  position: static !important;
  transform: none !important;
  transition: none !important;
  border-bottom: none !important;
  pointer-events: none;
}
.MuiSelect-icon {
  top: calc(50% - 11px) !important ;
  color: rgba(0, 0, 0, 0.54);
  right: 10px !important;
  position: absolute;
  pointer-events: none;
}
.MuiSelect-select.MuiSelect-select {
  padding-right: 24px;
  padding-left: 10px;
}
