$background:var(--base1);
$firstShadow:var(--base2);
$secondShadow: var(--base3);
$thirdShadow: var(--base4);
$mainColor:var(--mainColorFont);
$linkColor:var(--link);
$errorColor:var(--errorColor);
$additionalColor: var(--additionalColor);
$lighterSecondColor: var(--additionalLighterColor);

$backgroundSwitch: var(--titleUpOnHover);

$linear-gradient:#dadde0;


.verifyEmail_container,.verify_container,.form_container,.checkCode_button,.error_container,.box-of-input-and-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.div4scroll {
  display: table-cell;
  width: 100%;
  overflow-y: auto;
  padding-top: 100px;
}

.verifyEmail_container {
  margin: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  color: $mainColor;
  background: $background;
  box-sizing: border-box;

  padding: 20px;
}


.verify_container {
  width: 700px;
  border-radius: 40px;
  background: $background;
  box-shadow: -2px -2px 12px $firstShadow,
  2px 2px 8px $secondShadow,
  2px 2px 4px $thirdShadow;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
}

.form_container {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;

  color: $mainColor;
  height: 55px;
  padding: 15px;
  border-radius: 50px;
  background: $background;

  box-shadow: none;

  width: 600px;
  position: relative;
  top: -8px;
  left: 0;
  transition: all 1s ease;

}

.verify_container:hover .title {
  top: -50px;
  background: $backgroundSwitch;
  box-shadow: -2px -2px 12px $firstShadow,
  2px 2px 8px $secondShadow,
  2px 2px 4px $thirdShadow;
}


.checkCode_button {

  min-width: 16%;
  height: 100%;
  border-radius: 30px;

  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  background: $background;
  margin-bottom: 20px;
}

.link {
  text-align: center;
}

.link a {
  text-decoration: none;
  color: $linkColor;
  font-size: 15px;
  font-weight: 700;
}


.verify_container .spanAnimation {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 1s ease-in-out;
  border: none;
  background: none;
}

.verify_container .spanAnimation:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: $additionalColor;
  box-shadow: -2px -2px 12px $firstShadow,
  2px 2px 8px $secondShadow,
  2px 2px 4px $thirdShadow;
  width: 65px;
  height: 65px;
  transition: all 1s ease-in-out;
}

.verify_container:hover .spanAnimation:before {
  width: 100%;
  background: $lighterSecondColor;
}


.verify_container .spanAnimation:active {
  transform: scale(0.95);
}



.error_container {
  height: 15%;
  width: 50%;
  color: $errorColor;
  font-weight: 700;
}

.box-of-buttons{
  display: flex;
  margin: 20px;
}
.box-of-buttons>div{
  margin-left: 10px;
  margin-right: 10px;
}

.box-of-input-and-btn button{
  margin-bottom: 20px;

}

.link a {
  text-decoration: none;
  color:$linkColor;
  font-size: 12px;
}

.link a {
  text-transform: uppercase;
  background-image: linear-gradient(to right top,
          var(--colorIcon),
          var(--link),
          var(--label)
  );
  background-size: 50% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnim 7.5s ease  alternate infinite;
}


@keyframes gradientAnim {
  to {
    background-position: 100% top;
  }
}