$buttonBoxShadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5),
  2px 2px 8px rgba(0, 0, 0, 0.15), inset 2px 2px 4px rgba(255, 255, 255, 0.1);

$buttonBoxShadowActive: inset -2px -2px 8px rgba(255, 255, 255, 1), inset -2px -2px 12px rgba(255, 255, 255, 0.5),
  inset 2px 2px 8px rgba(0, 0, 0, 0.15), inset 2px 2px 4px rgba(255, 255, 255, 0.1);

.demo-app-main {
  flex-grow: 1;
  margin: 10px 7px;
}
:root {
  --fc-button-text-color: #25cee0;
  --fc-button-bg-color: #f4f6fa;
  --fc-button-hover-bg-color: #f4f6fa;
  --fc-button-active-bg-color: #f4f6fa;

  --fc-event-bg-color: #3788d8;
  --fc-event-text-color: rgb(0, 0, 0);

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-highlight-color: rgba(163, 163, 163, 0.28);
  --fc-today-bg-color: transparent;

  --fc-daygrid-event-dot-width: 11px;
  --fc-list-event-hover-bg-color: #09e4f837;
}

/////////// HEADER 2 BUTTTONS PREVIOUS AND NEXT   //////////////////////////////
:global(.fc-prev-button.fc-button.fc-button-primary),
:global(.fc-next-button.fc-button.fc-button-primary) {
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 35px;
  box-shadow: $buttonBoxShadow;
  & span {
    position: relative;
    bottom: 3px;
    right: 4px;
    font-size: 1.8em;
  }
  &:active {
    width: 40px;
    height: 35px;
    color: #cfcfd4;
    box-shadow: $buttonBoxShadowActive !important;
    & span {
      font-size: 1.75em;
    }
  }
  &:not(:first-child) {
    margin-left: 5px;
  }
}
/////////// HEADER BUTTTONS TODAY  //////////////////////////////
:global(.fc-today-button.fc-button.fc-button-primary) {
  border: none;
  border-radius: 15px;
  padding: 6px 25px;
  box-shadow: $buttonBoxShadow;
  font-size: 16px;
  font-weight: 500;
  @media (max-width: 1060px) {
    margin-left: 0 !important;
  }
  &:focus {
    color: #cfcfd4;
    box-shadow: $buttonBoxShadowActive !important;
  }
  &:disabled {
    color: #cfcfd4;
  }
}

/////////// HEADER 4 BUTTTONS RIGHT   //////////////////////////////
:global(.fc-dayGridMonth-button.fc-button.fc-button-primary),
:global(.fc-timeGridWeek-button.fc-button.fc-button-primary),
:global(.fc-timeGridDay-button.fc-button.fc-button-primary),
:global(.fc-listWeek-button.fc-button.fc-button-primary) {
  font-weight: 500;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  padding: 6px 25px;
  box-shadow: $buttonBoxShadow !important;
  margin-left: 0;
  margin-right: 12px;
  &:focus {
    box-shadow: $buttonBoxShadowActive;
  }
}
:global(.fc-listWeek-button.fc-button.fc-button-primary) {
  margin-right: 20px;
}
/////////// HEADER 4 BUTTTONS RIGHT ACTIVE CLASS   //////////////////////////////
:global(.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active),
:global(.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active),
:global(.fc-timeGridDay-button.fc-button.fc-button-primary.fc-button-active),
:global(.fc-listWeek-button.fc-button.fc-button-primary.fc-button-active) {
  box-shadow: $buttonBoxShadowActive !important;
  color: #cfcfd4;
  cursor: default;
}

/////////// HEADER Language BUTTTONS   //////////////////////////////
:global(.fc-buttonUa-button.fc-button.fc-button-primary),
:global(.fc-buttonEn-button.fc-button.fc-button-primary) {
  border: none;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  box-shadow: $buttonBoxShadow;
  &:focus {
    color: #cfcfd4;
    box-shadow: $buttonBoxShadowActive !important;
  }
}
:global(.fc-buttonUa-button.fc-button.fc-button-primary.active),
:global(.fc-buttonEn-button.fc-button.fc-button-primary.active) {
  color: #cfcfd4;
  box-shadow: $buttonBoxShadowActive;
  cursor: default;
}

///////////  SCREEN CALENDAR   //////////////////////////////
:global(.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard) {
  box-shadow: -4px -4px 10px 0px #ffffff, 4px 3px 17px 0px #969696;
  padding-top: 15px;
  background: #f2f3f7;
  border-radius: 10px;
}

/////////// HEADER TOOLBAR   //////////////////////////////
:global(.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr) {
  padding: 0 10px;
}

//////// NAME OF WEEKS   //////////
:global(.fc-col-header-cell-cushion) {
  text-transform: uppercase;
}
//////// NUMBER OF DAY TOP  //////////
:global(.fc-daygrid-day-top) {
  justify-content: flex-end;
  margin-top: 4px;
  margin-left: 6px;
  & a {
    border-radius: 8px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 5px rgba(255, 255, 255, 0.5),
      2px 2px 8px rgba(0, 0, 0, 0.15), inset 2px 2px 4px rgba(255, 255, 255, 0.1);
    padding: 1px 7px !important;
    font-size: 18px;
    font-weight: 500;
    background-color: #f2f3f7;
  }
}

////////////EVENT IN DAY////////////////////////
:global(.fc-event-main) {
  overflow: hidden;
}

//////Border for Table inside body month////////////////////
:global(.fc-daygrid-day.fc-day) {
  border: none;
  box-shadow: inset -2px -2px 4px rgb(255 255 255 / 80%), inset -2px -2px 4px rgb(255 255 255 / 63%), inset 2px 2px 2px rgb(0 0 0 / 15%), inset 2px 2px 4px rgb(255 255 255 / 10%);
  border-radius: 15px;
}
:global(.fc-daygrid-day.fc-day.fc-day-today) {
  box-shadow: inset -1px -2px 12px 1px #ffffff, inset 0px 4px 13px 0px #51d1e9,
    inset 3px 2px 5px 0px rgb(81 209 233 / 17%);
  background-color: #74cfe457;
}

//////Box Shadow for Table Top month////////////////////
:global(thead .fc-scrollgrid-sync-inner) {
  box-shadow: -3px -3px 7px -2px #ffffff, 1px 3px 9px -2px #a7a7a7;
  border-radius: 18px;
  margin: 8px 4px 10px 4px;
  & a {
    font-size: 14px;
  }
}

////////Remove All Border Table around Calendar///////////////
:global(.fc-theme-standard th),
:global(.fc-dayGridMonth-view td[role="presentation"]),
:global(.fc-theme-standard .fc-scrollgrid) {
  border: none;
}

//// Event Highlight ////////////
:global(.fc-timegrid-event) {
  box-shadow: inset 1px 2px 6px 0px #ffffff, inset -1px -3px 6px 1px #616161 !important;
  border: none;
  border-radius: 10px;
  padding: 1px 8px;
  font-size: 12px;
}

:global(.fc-daygrid-day-events) {
  padding-right: 1px;
  padding-left: 3px;
}
:global(.fc-event-time) {
  font-weight: 600;
}

///////////////////// Title ////////////////////////
:global(.fc-toolbar-title) {
  @media (max-width: 1320px) {
    font-size: 18px !important;
  }
}

:global(.fc-button) {
  @media (max-width: 1060px) {
    margin-bottom: 10px !important;
  }
}
