.container {
  background-color: var(--primary-color);
  padding: 5px;
  align-self: flex-end;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  box-shadow:  var( --pagination-box-shadow);
  color: var(--primary-text-color);
  &:hover {
    color: var(--accent-text-color);
  }
  &.current {
    color: var(--accent-color);
    box-shadow: var(--pagination-inset-box-shadow)
  }
}
.svg,
.svgRotate {
  fill: var(--primary-text-color);
  width: 10px;
  height: 10px;
  .li:hover & {
    fill: var(--accent-text-color);
  }
}
.btn:active {
  box-shadow: var( --pagination-box-shadow);
}
.svgRotate {
  transform: rotate(180deg);
}
