.items {
  background-color: rgb(255, 255, 255) !important;
  transition: all 0.1s ease;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &:hover {
    background-color: transparent;
    transform: scale(1.15);
  }
  width: 20px;
  height: 20px;
  & span {
    width: 70%;
    margin: 0 auto;
    border-radius: 50%;
  }
}
:global(.MuiSelect-select) {
  & span {
    width: 24px;
    height: 24px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
  }
}
