$background:var(--base1);
$firstShadow:var(--base2);
$secondShadow: var(--base3);
$thirdShadow: var(--base4);
$mainColor:var(--mainColorFont);
$linkColor:var(--link);
$errorColor:var(--errorColor);
$additionalColor: var(--additionalColor);
$lighterSecondColor: var(--additionalLighterColor);

$backgroundSwitch: var(--bgHoverNavInReg);
$description:#a0a5a8;
$registration:#505050;

$linear-gradient:#dadde0;

.switch_to_login_button{
  box-shadow: none;
  margin-top: 15px;
}

.switch_to_login_description{
  font-size: 18px;
  letter-spacing: 1px;
  margin: 5px 5px 5px 0;
  color: $description;
}

.title_switch_to_login {
  box-sizing: border-box;
  font-size: 40px;
  transition: 0.4s ease-in-out;
}

.switchToLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 50px;
  transition: all 0.4s;
  background-color: $background;
  border-radius: 15px 30px 30px 15px;
  box-sizing: border-box;


  cursor: pointer;
  box-shadow: 8px 8px 2px 1px $additionalColor,
  -2px -2px 12px $firstShadow,
  2px 2px 8px $secondShadow,
  2px 2px 4px $thirdShadow;

}

.switch_container{
  min-height: 40%;
  max-height: 50%;
  padding: 15px;
  width: 90%;
  box-sizing: border-box;
  transition: 2s;

  border-radius: 50%;

  background-size:    100% 3px,
  3px 100%,
  100% 3px,
  3px 100%;
  background-position:    0 0,
  100% 0,
  100% 100%,
  0 100%;
  animation-play-state: paused;
  background: var(--incora);
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
}

.switchToLogin:hover{
  background-color: $backgroundSwitch;
  box-shadow: 25px 25px 50px $firstShadow,
  -25px -25px 50px $thirdShadow;
}

.switchToLogin:hover .title_switch_to_login{
  letter-spacing: 1px;
}

@keyframes bg {
  0% {
    background-size:    0 5px,
    5px 0,
    0 5px,
    5px 0;
  }
  25% {
    background-size:    100% 5px,
    5px 0,
    0 5px,
    5px 0;
  }
  50% {
    background-size:    100% 5px,
    5px 100%,
    0 5px,
    5px 0;
  }
  75% {
    background-size:    100% 5px,
    5px 100%,
    100% 5px,
    5px 0;
  }
  100% {
    background-size:    100% 5px,
    5px 100%,
    100% 5px,
    5px 100%;
  }
}


.switchToLogin:hover .switch_container {
  animation-play-state: running;
}


.switchToLogin:hover {
  box-shadow: -8px 8px 2px -1px $lighterSecondColor;
  //animation: morph 3s linear infinite;
  //animation-delay: 400ms;
;
}

.title {
  animation: color-animation 8s linear infinite;
}


.title-word-1 {
  --color-1: var( --colorNavTitle1);
  --color-2: var( --colorNavTitle2);
  --color-3: var( --colorNavTitle3);
}

.title-word-2 {
  --color-1: var(--colorNavTitle1_2);
  --color-2: var( --colorNavTitle2_2);
  --color-3: var(--colorNavTitle3_2);
}

.title-word-3 {
  --color-1: var(--colorNavTitle1_3);
  --color-2: var(--colorNavTitle2_3);
  --color-3:var(--colorNavTitle3_3);
}

.title-word-4 {
  --color-1: var(--colorNavTitle1_4);
  --color-2: var(--colorNavTitle2_4);
  --color-3: var(--colorNavTitle3_4);
}


@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

@keyframes morph{
  0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    //opacity: .89;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn{
  100%{
    transform: scale(1.03);
    opacity: 0;
  }}
