* {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: var(--primary-font-family);
}

.header {
  display: flex;
  position: fixed;
  //top: 41px;
  top: 0;
  left: 0;
  z-index: 2;

  gap: 50px;
  padding: 15px 50px;
  //width: calc(100vw - 310px);
  width: calc(100vw - 20%);

  background-color: var(--primary-color);
}
.mainContainer {
  //width: calc(100vw - 340px);
 // margin-top: 55px;
}
.roomsContainer {
  display: flex;
  min-height: 50px;
  width: 100%;
  height: 100%;

  background-color: var(--primary-color);
}
.input {
  position: relative;

  display: flex;
  width: 280px;
  height: 55px;
  padding: 0 15px 0 15px;
  align-items: center;

  border-radius: 100px;
  box-shadow: var(--inset-input-shadow);
}
.ico {
  width: 30px;
  height: 30px;
  margin-right: 10px;

  background-image: url(./images/search.png);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.inputComponent {
  width: 100%;
  height: 1.4375em;
  padding: 0px;

  font-size: 16px;
  color: var(--primary-text-color);

  background-color: transparent;
  border: none;

  &:focus,
  &:active {
    border: none;
    outline: none;
  }
  &::placeholder {
    color: rgb(192, 192, 192);
  }
}

.roomsList {
  width: calc(100% - 10px);
  padding-left: 50px;
  margin-top: 86px;
}
.pFloor {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 30px;
  color: var(--accent-color);

  text-transform: uppercase;
  font-size: 20px;

  cursor: default;
}
.floor {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
  margin-bottom: 50px;
}
.roomCardContainer {
  position: relative;
  display: flex;
  width: 200px;
  flex-direction: column;
  padding: 10px;
  height: 90px;
  justify-content: space-between;

  color: var(--primary-text-color);

  background-color: var(--primary-color);
  transition-property: all;
  transition-duration: 30ms;
  border-radius: 3px;
  box-shadow: var(--outset-box-shadow);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-hover-color);
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.8),
      -4px -4px 10px rgba(255, 255, 255, 0.625), 4px 4px 4px rgba(0, 0, 0, 0.15),
      inset 4px 4px 10px rgb(0 0 0 / 2%);
  }
}

.headerRoomCard {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.labelRoomName {
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-size: 14px;

  cursor: default;
}

.labelTime {
  font-size: 12px;
}
.roomInfo {
  display: flex;

  align-items: center;
  gap: 10px;
}
.tvIco,
.projectorIco,
.membersIco {
  width: 20px;
  height: 20px;

  background-size: contain;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}
.tvIco {
  background-image: url(./images/tv.png);
}
.projectorIco {
  background-image: url(./images/projector.png);
}
.membersIco {
  background-image: url(./images/people.png);
}
.capacityLabel {
  display: flex;
  align-items: center;

  font-size: 12px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ff6e6e;
}
.modalName {
  margin-bottom: 30px;

  color: var(--accent-text-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;

  cursor: default;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalInput {
  display: inline-block;
  margin-bottom: 30px;
}
.navButton {
  // position: fixed;
  // top: 50%;
  // right: 320px;
  // z-index: 4;

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // width: 40px;
  // height: 100px;
  // gap: 10px;

  // bottom button
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 4;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  margin-top: 10px;
  height: 60px;
  box-shadow: var(--outset-box-shadow);
  /* background-color: red; */
  gap: 10px;
}
.chooseDuration {
  height: 55px;
  width: 232px;
  margin-bottom: 60px;
  padding: 15px;

  color: var(--primary-text-color);
  font-size: 16px;

  border: none;
  border-radius: 40px;
  background-color: #f4f6fa;
  box-shadow: var(--inset-input-shadow);
  &:active,
  &:focus {
    outline: none;
    border: none;
  }
  &::placeholder {
    color: rgb(189, 189, 189);
  }
}

//Nav buttons
.link {
  // width: 30px;
  // height: 30px;

  // color: var(--primary-text-color);
  // text-align: center;
  // font-size: 15px;

  // border-radius: 100%;
  // box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.8),
  //   -2px -2px 4px rgba(255, 255, 255, 0.625), 2px 2px 2px rgba(0, 0, 0, 0.15),
  //   inset 2px 2px 4px rgba(255, 255, 255, 0.1);
  // background-size: 15px;
  // background-repeat: no-repeat;
  // background-position: center;

  width: 45px;
  height: 45px;
  color: var(--primary-text-color);
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: -2px -2px 4px rgb(255 255 255 / 80%),
    -2px -2px 4px rgb(255 255 255 / 63%), 2px 2px 2px rgb(0 0 0 / 15%),
    inset 2px 2px 4px rgb(255 255 255 / 10%);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  &.current {
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.8),
      inset -2px -2px 4px rgba(255, 255, 255, 0.625),
      inset 2px 2px 2px rgba(0, 0, 0, 0.15),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1);
  }
  &.map {
    background-image: url(../rooms/images/location.png);
    &.current,
    &:hover {
      background-image: url(../rooms/images/locationCurrent.png);
    }
  }
  &.rooms {
    background-image: url(../rooms/images/home.png);
    &.current {
      background-image: url(../rooms/images/homeCurrent.png);
    }
    &:before {
      position: absolute;
      bottom: -1px;
      right: 218px;
      content: " ";
      width: 45px;
      background-color: #5bbde0;
      height: 2px;
      border-radius: 2px;
      z-index: 5;
    }
  }
  &.calendar {
    background-image: url(../rooms/images/calendar.png);
    &.current,
    &:hover {
      background-image: url(../rooms/images/calendarCurrent.png);
    }
  }
}
.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  // backdrop-filter: blur(1px); страшно лагает
  background-color: rgba(255, 255, 255, 0.376);
}
.infoChoose {
  z-index: 33;
}
// Card-Info
.info {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.infoBox {
  position: absolute;
  appearance: none;
  top: 90px;
  right: 0px;
  overflow: hidden;
  width: 200px;
  height: 0px;

  z-index: 5;
background: linear-gradient(to bottom, transparent 2%, var(--primary-color) 7%);
  transition: height .3s linear;
  transition-delay: 200ms;
  box-shadow: -2px -2px 8px rgb(255 255 255),
    -2px -2px 12px rgb(255 255 255 / 50%), 2px 2px 8px rgb(0 0 0 / 15%),
    inset 2px 2px 4px rgb(255 255 255 / 10%);
    border-radius: 0px 0px 15px 15px;
}

.infoBox[data-info="true"] {
  // z-index: -1;
  transition: height .5s linear;
  height: 200px;
}
.text{
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}