.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);
  box-shadow: var( --outset-box-shadow);
  //box-shadow: var( --iconBtn-shadow);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  &.settings {
    background-image: url(./images/settings.png);
  }
  &.edit {
    background-image: url(./images/edit.png);
  }
  &.delete {
    background-image: url(./images/delete.png);
  }
  &.home {
    background-image: url(./images/home.png);
  }
  &.close {
    background-image: url(./images/close.png);
  }
  &.agenda {
    background-image: url(./images/agenda.png);
  }
  &.rooms {
    background-image: url(./images/rooms.png);
  }
  &.map {
    background-image: url(./images//map.png);
  }
  &.calendar {
    background-image: url(./images/calendar.png);
  }
    &:active,
  &:focus-visible {
    box-shadow: var(--iconBtn-shadow-inset)
  }
  &.large:active,
  &.large:focus-visible {
    box-shadow:var(--iconBtn-shadow-inset2)
  }
  &.small {
    width: 20px;
    height: 20px;
    background-size: 12px;
  }
  &.medium {
    width: 30px;
    height: 30px;
    background-size: 20px;
    border-radius: 9px;
  }
  &.large {
    width: 40px;
    height: 40px;
    background-size: 25px;
    border-radius: 13px;
  }
  &.margin {
    margin-left: 5px;
  }
  &:hover{
    background-color: var(--primary-hover-color);
  }
}

