$background:#f4f6fa;
$firstShadow:rgba(255, 255, 255, 0.5);
$secondShadow: rgba(0, 0, 0, 0.15);
$thirdShadow: rgba(255,255,255,0.1);
$mainColor:#555;
$linkColor:#aaa;
$errorColor:#d55d5d;

$secondColor:#5bbde0;
$secondColorLighter:#99d0e3;

$backgroundSwitch: #EBEDF0;
$description:#a0a5a8;
$registration:#505050;

$linear-gradient:#dadde0;


.wrapper-small,.wrapper-medium,.wrapper-large{
  display:flex;
  align-items:center;
  justify-content:center;
padding-top: 5px;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 10px;

  .file-upload-small,.file-upload-medium,.file-upload-large{

    border-radius: 100px;
    position:relative;

    display:flex;
    justify-content:center;
    align-items: center;

    box-shadow:
            -2px -2px 12px $firstShadow,
            2px 2px 8px $secondShadow,
            2px 2px 4px $thirdShadow;

    //box-shadow:
    //        inset -2px -2px 12px $firstShadow,
    //        inset  2px 2px 8px $secondShadow,
    //        inset 2px 2px 4px $thirdShadow;

    overflow:hidden;
    background-image: linear-gradient(to bottom, $background  50%, $secondColor 50%);
    background-size: 100% 200%;
    transition: all 0.3s;
    color: $secondColor;

    input[type='file']{

      height:68px;
      width:68px;
      position:absolute;
      top:0;
      left:0;
      opacity:0;
      cursor:pointer;

    }

    &:hover{

      background-position: 0 -100%;

      color:$background;

    }


  }
}

.wrapper-small .icon svg{
  font-size: 48px;
}

.wrapper-medium .icon svg{
  font-size: 58px;
}



.wrapper-large .icon svg{
  font-size: 68px;
}

.file-upload-small {
  width: 68px;
  height: 68px;
}


.file-upload-medium{
  width: 78px;
  height: 78px;
}

.file-upload-large{
  height: 88px;
  width: 88px;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon svg{
  font-size: 48px;
}

.file_name-small,.file_name-medium,.file_name-large{
  font-family: 'Montserrat', sans-serif;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 40px;
  box-shadow:
          -2px -2px 12px $firstShadow,
          2px 2px 8px $secondShadow,
          2px 2px 4px $thirdShadow;
  margin-top: 10px;
}

.file_name-small{
  font-size: 14px;
}

.file_name-medium{
  font-size: 16px;
}

.file_name-large{
  font-size: 18px;
}