.container_verifyEmail_page {
  margin:0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}