$background:#f4f6fa;


.container_register_page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  font-family: 'Montserrat', sans-serif;
}