$background: var(--base1);
$firstShadow: var(--base2);
$secondShadow: var(--base3);
$thirdShadow: var(--base4);
$mainColor: var(--mainColorFont);
$linkColor: var(--link);
$errorColor: var(--errorColor);
$additionalColor: var(--additionalColor);
$lighterSecondColor: var(--additionalLighterColor);

.container_register_page {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.box_outset, .box_inset {
  width: 500px;
  height: 500px;

  border-radius: 50%;

  background: var(--base1);
  position: absolute;

}

.box_inset {
  box-shadow: var(--pages-decoration-box-shadow-inset);
  top: -15%;
  left: -5%;
}

.box_outset {
  box-shadow: var(--pages-decoration-box-shadow-outset);
  bottom: -15%;
  right: -5%;
}