
$background:var(--base1);
$firstShadow:var(--base2);
$secondShadow: var(--base3);
$thirdShadow: var(--base4);
$mainColor:var(--mainColorFont);
$linkColor:var(--link);
$errorColor:var(--errorColor);
$additionalColor: var(--additionalColor);
$lighterSecondColor: var(--additionalLighterColor);
$s: 100% / 8;
$t: 0.001%;


.login_container,.form_container,.logo_container,.login_button,.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container,.form_container,.logo_container{
  flex-direction: column;
}

.form_container,.logo:after{
  width: 100%;
}


.login_container {
  width:430px;
  max-width: 430px;
  max-height: 85%;
  border-radius: 40px;
  background: var(--base1);
  box-shadow:
   -2px -2px 12px $firstShadow,
    2px 2px 8px $secondShadow,
   2px 2px 4px $thirdShadow;
  padding: 15px;
  box-sizing: border-box;
  z-index: 1;
}

.form_container{
  max-height: 50%;
  min-height: 50%;
  color: $mainColor;
}

.logo_container {
  padding-bottom: 15px;
  min-width: 200px;
  min-height: 40%;

  max-width: 200px;
  max-height: 40%;
}

.login_button {
  cursor: pointer;
  min-width:80%;
  max-width:80%;
  min-height: 60px;
  max-height: 60px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  background: var(--base1);
}

.error_container{
  min-height: 20px;
  max-height: 20px;
  color: $errorColor;
  font-weight: 700;
  margin-bottom: 10px;
}

.logo{
  background-image: linear-gradient(120deg,
          var(--logo-color-1) 0%,
          var(--logo-color-2) 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 180px; height: 174px;
  animation: morph 3s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}
.logo:before,
.logo:after{
  content: '';
  height: 100%;
  display: block;
  position: absolute;
  left: 0; top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  box-shadow: var(--logo-color-box-shadow);
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-image: linear-gradient(120deg,
          var(--logo-color-3),
          var(--additionalColor));
}

.logo:before{
  animation: morph 3s linear infinite;
  opacity: .21;
  animation-duration: 1.5s;
}

.logo:after{
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: .89;
  font-size: 42px;
  letter-spacing: 0.5px;
  color: #F4F6FAFF;
  font-weight: 700;

  line-height: 180px;
  text-indent: -21px;
}

@keyframes morph{
  0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    opacity: .89;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn{
  100%{
    transform: scale(1.03);
    opacity: 0;
  }}



.link {
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: 700;

}
.link a {
  text-decoration: none;
  color:$linkColor;
  font-size: 12px;
}

.link a {
  text-transform: uppercase;
  background-image: linear-gradient(to right top,
          var(--colorIcon),
          var(--link),
          var(--label)
  );
  background-size: 50% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnim 7.5s ease  alternate infinite;
}


@keyframes gradientAnim {
  to {
    background-position: 100% top;
  }
}


.incora{
  z-index: 1;
  font-size: 30px;
  letter-spacing: 0.5px;
  color: #F4F6FAFF;
  font-weight: 700;
}