.svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: var(--primary-text-color);
  .linkToCalendarContainer:hover & {
    fill: var(--accent-text-color);
  }
}
.linkToCalendarContainer {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.goToCalendar {
  vertical-align: middle;
  font-size: 17px;
  color: var(--primary-text-color);
  .linkToCalendarContainer:hover & {
    color: var(--accent-text-color);
  }
}

:global(div.MuiInputBase-multiline),
:global(input.MuiInputBase-input) {
  color: var(--mainColorFont);
  padding-left: 23px;
}
:global(div.MuiInputBase-root) {
  padding-right: 20px;
}
:global(fieldset.MuiOutlinedInput-notchedOutline) {
  border: 0px solid var(--PickerGlobalColor) !important;
  border-radius: 100px;
  box-shadow: var(--inset-input-shadow);
}
:global(label.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root) {
  left: 10px;
  color: var(--mainColorFont);
}
:global(p.MuiFormHelperText-contained) {
  margin-left: 24px;
}
