
.label {
  & label[data-shrink="true"] {
    font-size: 20px;
    top: -11px;
    left: 9px;
    color: var(--label);
  }
  & label[data-shrink="false"] {
    left: 10px;
    color: var(--mainColorFont);
  }
}
