:global(.MuiIconButton-root) {
  width: 35px;
  height: 35px;

  box-shadow: var(--outset-box-shadow);
  pointer-events: auto;
  &:active,
  &:disabled {
    background-color: var(--primary-color) !important;
    box-shadow: var(--inset-input-shadow);
  }
}
:global(.css-kjd0cg-MuiButtonBase-root-MuiIconButton-root-MuiClock-amButton),
:global(.css-1wahiw3-MuiButtonBase-root-MuiIconButton-root-MuiClock-pmButton) {
  color: var(--accent-text-color) !important;
  box-shadow: var(--inset-input-shadow);
}
:global(.css-1wahiw3-MuiButtonBase-root-MuiIconButton-root-MuiClock-pmButton),
:global(.css-kjd0cg-MuiButtonBase-root-MuiIconButton-root-MuiClock-amButton) {
  background-color: var(--primary-color) !important;
}
:global(.MuiPickersArrowSwitcher-root) {
  right: 10px;
}
:global(.MuiClock-clock) {
  background: transparent !important;
}
:global(.MuiClockNumber-root[aria-selected="true"]) {
  color: var(--timePickerGlobalColor) !important;
}
:global(.MuiClock-pin),
:global(.MuiClockPointer-root),
:global(.MuiClockPointer-thumb) {
  background-color: var(--accent-text-color) !important;

  border-color: var(--accent-text-color) !important;
}
:global(.MuiClockPointer-thumb) {
  border: 16px solid var(--accent-text-color) !important;
}
:global(.MuiPickersArrowSwitcher-button) {
  width: 25px;
  height: 25px;
}
:global(.MuiIconButton-root[aria-label^="Choose time"]) {
  background-image: url(./Subtract.png);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
}
:global(.css-1jm66jt-MuiClockPicker-root) {
    background-color: var(--primary-color);
}
