$background:var(--base1);
$firstShadow:var(--base2);
$secondShadow: var(--base3);
$thirdShadow: var(--base4);
$mainColor:var(--mainColorFont);
$linkColor:var(--link);
$errorColor:var(--errorColor);
$additionalColor: var(--additionalColor);
$lighterSecondColor: var(--additionalLighterColor);

.container_ForgotPassword_page {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}


.box_outset,.box_inset{
  width: 300px;
  height: 1500px;
  border-radius: 20%;
  background: var(--base1);
  box-shadow:var(--pages-decoration-box-shadow-inset);
  position: absolute;

}

.box_inset{
  top:-35%;
  left: -80px;
}

.box_outset{
  bottom:-250px;
  right:-80px;
}

.box_outset2,.box_circle{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: var(--base1);
  position: absolute;
}

.box_outset2{
  box-shadow:var(--pages-decoration-box-shadow-outset);
  z-index: 1;
  left: -100px;
  animation: slidein_ 10s linear infinite;

}

.box_circle{
  right: -100px;
  animation: slidein 10s linear infinite;
  box-shadow:var(--pages-decoration-box-shadow-outset);
  position: absolute;
}

@keyframes slidein {
  0% {
    top:-35%;
  }
  50% {
    top:85%;
  }
  100%{
    top:-35%;
  }
}

@keyframes slidein_ {
  0% {
    top:85%;
  }
  50% {
    top:-35%;
  }
  100%{
    top:85%;
  }
}