.navButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  height: 60px;

  background-color:var(--primary-color);
  box-shadow: var(--outset-box-shadow);
}

.link {
  // width: 30px;
  // height: 30px;

  // color: var(--primary-text-color);
  // text-align: center;
  // font-size: 15px;

  // border-radius: 100%;
  // box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.8),
  //   -2px -2px 4px rgba(255, 255, 255, 0.625), 2px 2px 2px rgba(0, 0, 0, 0.15),
  //   inset 2px 2px 4px rgba(255, 255, 255, 0.1);
  // background-size: 15px;
  // background-repeat: no-repeat;
  // background-position: center;

  width: 45px;
  height: 45px;
  color: var(--primary-text-color);
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: var( --link-NavBtn-box-shadow);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  &.current {
    box-shadow:var(--inset-input-shadow)
  }
  &.map {
    background-image: url(./images/location.png);
    &.current,
    &:hover {
      background-image: url(./images/locationCurrent.png);
    }
  }
  &.rooms {
    background-image: url(./images/home.png);
    &.current,    &:hover  {
      background-image: url(./images/homeCurrent.png);
    }
  }
  &.calendar {
    background-image: url(./images/calendar.png);
    &.current,
    &:hover {
      background-image: url(./images/calendarCurrent.png);
    }
  }
}