.hidden {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  opacity: 0;
}
.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: var(--outset-box-shadow);
  border: 5px var( --border-avatar-settings) solid;
}
.lableContainer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: calc(50% - 75px);;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  opacity: 0;
  &:hover {
    background-color: rgb(196 196 196 / 21%);
    opacity: 1;
  }
}
