$background: var(--base1);
$firstShadow: var(--base2);
$secondShadow: var(--base3);
$thirdShadow: var(--base4);
$mainColor: var(--mainColorFont);
$linkColor: var(--link);
$errorColor: var(--errorColor);
$additionalColor: var(--additionalColor);
$lighterSecondColor: var(--additionalLighterColor);

$backgroundSwitch: var(--titleUpOnHover);
$description: #a0a5a8;
$registration: #505050;

$linear-gradient: #dadde0;

.forgotPassword_container,.response,.send_button,.container-modal,.body,.container svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_container{
  display: flex;
  align-items: center;
}

.form_container,.container-modal,.body,.forgotPassword_container{
  flex-direction: column;

}

.forgotPassword_container {
  max-width: 600px;
  max-height: 400px;
  border-radius: 40px;
  background: $background;
  box-shadow: -2px -2px 12px $firstShadow,
  2px 2px 8px $secondShadow,
  2px 2px 4px $thirdShadow;
  position: absolute;
  padding: 20px;

  z-index: 1;
}

.form_container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: $mainColor;
}

.title {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--mainColorFont);
  height: 75px;
  padding: 15px;
  font-weight: 700;
  border-radius: 50px;
  background: $background;
  box-shadow: none;


  position: relative;
  top: -8px;

  transition: 1s ease-in-out;

}


.forgotPassword_container:hover .title {
  top: -50px;
  background: $backgroundSwitch;
  box-shadow: -2px -2px 12px $firstShadow,
  2px 2px 8px $secondShadow,
  2px 2px 4px $thirdShadow;
}


.send_button {
  cursor: pointer;
  width: 60%;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 15px;
  background: $background;
}

.title {
  animation: ch-color-2 4s;
}


.forgotPassword_container .spanAnimation {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 1s ease;
  border: none;
  background: none;
}

.forgotPassword_container .spanAnimation:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: $additionalColor;
  box-shadow: -2px -2px 12px $firstShadow,
  2px 2px 8px $secondShadow,
  2px 2px 4px $thirdShadow;
  width: 85px;
  height: 85px;
  transition: all 1s ease;
}

.forgotPassword_container:hover .spanAnimation:before {
  width: 100%;
  background: $lighterSecondColor;
}


.forgotPassword_container .spanAnimation:active {
  transform: scale(0.95);
}

.container-modal {
  width: 100%;
  justify-content: space-between;
}

.response {
  width: 90%;
  border-radius: 20px;
  padding: 0.5em;

  box-shadow: var(--outset-box-shadow);

  flex-direction: column;

  margin-bottom: 1em;
  margin-top: 1em;

}

.title-modal {
  color: var(--label);
  width: 60%;

  font-size: 2em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.5em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  animation: border 10s infinite;
}

@keyframes border{
  0%{
    border-bottom:0.1em solid var(--colorNavTitle2);
  }
  10%{
    border-bottom:0.1em solid var(--colorNavTitle1_2);
  }
  20%{
    border-bottom:0.1em solid var(--colorNavTitle1_3);
  }
  30%{
    border-bottom:0.1em solid var(--colorNavTitle3_3);
  }
  40%{
    border-bottom:0.1em solid var(--colorNavTitle2_2);
  }
  50%{
    border-bottom:0.1em solid var(--colorNavTitle3_4);
  }
  60%{
    border-bottom:0.1em solid var(--colorNavTitle1);
  }
  70%{
    border-bottom:0.1em solid var(--additionalColor);
  }
  80%{
    border-bottom:0.1em solid var(--colorNavTitle3);
  }
  90%{
    border-bottom:0.1em solid var(--additionalLighterColor);
  }
  95%{
    border-bottom:0.1em solid var(--colorNavTitle3_2);

  }
  100%{
    border-bottom:0.1em solid var(--colorNavTitle2);
  }

}

.body {
  text-align: center;
  color: var(--mainColorFont);
  padding-right: 0.3em;
  padding-bottom: 0.5em;
  padding-left: 0.3em;
}

.body-part-2{
  text-align: center;
  font-size: 1.1em;
  color: var(--link);
  font-weight: 400;
  box-shadow: var(--inset-box-shadow);
  border-radius: 20px;
  padding: 10px;


  display: flex;
  align-items: center;
  justify-content: space-between;
}


.title-modal{
  color: var(--mainColorFont);
}
.body-part-1{
  font-size: 1.5em;
  font-weight: 500;
  padding: 5px;
color: var(--mainColorFont);
}

.body-text{
  width: 70%;
  text-align: center;
}

.body-box{
  width: 50px;
  height: 50px;
  box-shadow: var(--outset-box-shadow);
  border-radius: 50%;
}

.link-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-top: 5px;
}

.link {
  font-weight: 700;
  height: 1em;
  padding-top: 0.5em;
  box-sizing: border-box;
}

.link a {
  text-decoration: none;
  color: $linkColor;
  font-size: 0.8em;
}

.link a, .link-box a {
  text-transform: uppercase;
  background-image: linear-gradient(to right top,
          var(--colorIcon),
          var(--link),
          var(--label)
  );
  background-size: 50% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnim 7.5s ease alternate infinite;
}


@keyframes gradientAnim {
  to {
    background-position: 100% top;
  }
}

.container svg {
  width: 350px;
  height: 240px;
  left: 8px;
  top: 8px;
  position: relative;
}












.loader{
  position: relative;
  display: flex;
  margin: 10px;
}
.loader span{
  position: relative;
  width: 250px;
  height: 250px;
  background: var(--base1);
  border: 6px solid var(--base1);
  border-radius: 50%;
  box-shadow: var(--cloud-mail-box-shadow);
  overflow: hidden;
}
.loader span::before{
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  box-shadow: inset 10px 10px 20px var(--base3),
  inset -5px -5px 15px var(--base4);
}
.loader span::after{
  content: '';
  position: absolute;
  inset: 40px;
  background: var(--base1);
  border: 3px solid var(--base1);
  border-radius: 50%;
  box-shadow: inset -8px -8px 25px var(--base4),
  8px 8px 25px var(--base2),
  inset 3px 3px 10px var(--base3),
  inset -1px -1px 15px var(--base4);
}
.loader span i{
  position: absolute;
  inset: 0;
  border-radius: 50%;
  filter: blur(5px);
  background: linear-gradient(var(--colorNavTitle1
  ), var(--additionalColor),
          var(--colorNavTitle3));
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.plane{
  position: absolute;
  inset: 50px;
  z-index: 10;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--sky);
}
.plane .fa-plane{
  position: absolute;
  color: var(--plane);
  //#ff518c
  font-size: 3.5em;
  -webkit-text-stroke: 2px #000 !important;
  animation: animateRocket 0.2s linear infinite;
  rotate: 45deg;
}
@keyframes animateRocket {
  0%,100%{
    transform: translate(0,0) rotate(-45deg);
  }
  50%{
    font-size: 3.6em;
    transform: translate(0,3px) rotate(-45deg);
  }
}

.fa-cloud,.fa-cloud-2,.fa-cloud-3,.fa-cloud-4{
  position: absolute;
  font-size: 2em;
  color:var(--cloud-color);
}

.fa-cloud{
  animation: animateClouds 3s linear infinite;
  animation-delay: calc(-0.5s * 3);
}

.fa-cloud-2{
  animation: animateClouds2 3s linear infinite;
  animation-delay: calc(-0.5s * 3);
}

.fa-cloud-3{
  animation: animateClouds3 3s linear infinite;
  animation-delay: calc(-0.5s * 1.5);

}

.fa-cloud-4{
  animation: animateClouds4 3s linear infinite;
  animation-delay: calc(-0.5s * 1.5);
}


.one{
  left: calc(45px * 2);
  top: calc(35px * 3);
  font-size: 3em;
  color: var(--cloud-color-dark);
}

.two{
  right: calc(1px * 2);
  top: calc(30px * 1);
  font-size: 1.9em;
  z-index: -1;
}

.three{
  font-size: 2.5em;
  right: calc(50px * 2);
  top: 20px;
  color: var(--cloud-color-dark);
}

.four{
  left: calc(2px * 2);
  top: calc(80px * 1);
  z-index: -1;
  }

.five{
  left: 60px;
  top: 48px;
  font-size: 2.6em;
}

.six{
  top: 28px;
  z-index: -2;
  left: -10px;

  font-size: 1.5em;
}

.seven{
  color: var(--cloud-color-dark);
  top: 8px;
  z-index: -1;
}

.eight{
  top: 100px;
  z-index: -1;
  left: -10px;
  font-size: 2.3em;
}

.nine{
  top: 75px;
  right: 20px;
  font-size: 4em;
}

.ten{
  z-index: -1;
  top: 58px;
  right: 2px;

  font-size: 2.4em;

}

.eleven{
font-size: 3em;
}

.twelve{
  font-size: 1.5em;
  z-index: -2;
  left: 30px;
  top: 30px;
}

.twelve{
  font-size: 1.5em;
  z-index: -2;
  right: 20px;
  top: -30px;
  color: var(--cloud-color-dark);
}

.thirteen{
  bottom: -20px;
  z-index: -2;
  left: 70px;
}

.fourteen{
  font-size: 2.2em;
  top: 40px;
  z-index: -2;
  left: 40px;
}

.fifteen{
  font-size: 3.6em;
  top: -20px;
  z-index: 2;
  left: 80px;
}

@keyframes animateClouds {
  0%{
    transform: translatex(calc(150px));
  }
  50%{
    transform: translatex(calc(-150px));
    rotate: 10deg;
  }
  100%{
    transform: translatex(calc(150px));
  }
}

@keyframes animateClouds2 {
  0%{
    transform: translatex(calc(-150px));
  }
  50%{
    transform: translatex(calc(150px));
    rotate: 10deg;
  }
  100%{
    transform: translatex(calc(-150px));
  }
}

@keyframes animateClouds3 {
  0%{
    transform: translatey(calc(-150px));
  }
  50%{
    transform: translatey(calc(150px));
    rotate: 15deg;
  }
  100%{
    transform: translatey(calc(-150px));
  }
}

@keyframes animateClouds4 {
  0%{
    transform: translatey(calc(150px));
  }
  50%{
    transform: translatey(calc(-150px));
    rotate: 15deg;
  }
  100%{
    transform: translatey(calc(150px));
  }
}