$background:var(--base1);
$firstShadow:var(--base2);
$secondShadow: var(--base3);
$thirdShadow: var(--base4);
$mainColor:var(--mainColorFont);
$linkColor:var(--link);
$errorColor:var(--errorColor);
$additionalColor: var(--additionalColor);
$lighterSecondColor: var(--additionalLighterColor);

$backgroundSwitch: var(--titleUpOnHover);
$description:#a0a5a8;
$registration:#505050;

$linear-gradient:#dadde0;

.forgotPassword_container {
  max-width: 600px;
  max-height: 400px;
  border-radius: 40px;
  background: $background;
  box-shadow:
          -2px -2px 12px $firstShadow,
          2px 2px 8px $secondShadow,
          2px 2px 4px $thirdShadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  padding: 20px;

  z-index: 1;
}

.form_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $mainColor;
}

.title {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: $mainColor;
  height: 75px;
  padding: 15px;
  font-weight: 700;
  border-radius: 50px;
  background: $background;
  box-shadow: none;


  position: relative;
  top: -8px;

  transition: 1s ease-in-out;
}


.forgotPassword_container:hover .title {
  top: -50px;
  background: $backgroundSwitch;
  box-shadow:
          -2px -2px 12px $firstShadow,
          2px 2px 8px $secondShadow,
          2px 2px 4px $thirdShadow;
}


.send_button {
  cursor: pointer;
  width:60%;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 15px;
  background: $background;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  animation: ch-color-2 4s;
}

.resetMessage {
  text-decoration: none;
  color: $mainColor;
  font-size: 15px;
  font-weight: 700;
  height: 30px;
  padding: 20px 10px 10px;
  box-sizing: border-box;
}


.forgotPassword_container .spanAnimation {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 1s ease;
  border: none;
  background: none;
}

.forgotPassword_container .spanAnimation:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: $additionalColor;
  box-shadow:      -2px -2px 12px $firstShadow,
  2px 2px 8px $secondShadow,
  2px 2px 4px $thirdShadow;
  width: 85px;
  height: 85px;
  transition: all 1s ease;
}

.forgotPassword_container:hover .spanAnimation:before {
  width: 100%;
  background: $lighterSecondColor;
}


.forgotPassword_container .spanAnimation:active {
  transform: scale(0.95);
}